<style>
  :host {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    text-align: center;
  }
</style>

<div>
  <h1>API Call Example</h1>
  <button (click)="fetchData()">Fetch Data</button>
  <p></p>
  <button (click)="jsonData = ''">Clear Data</button>
  <h3>Data in JSON</h3>
  <pre>{{ jsonData }}</pre>
</div>

<router-outlet />
